<header>
  <nav class="navbar">
    <div class="nav-left">
      <a href="index.php?page=lostCat" class="nav-link">Chats Perdus</a>
      <a href="index.php?page=foundCat" class="nav-link">Chats Trouvés</a>
      <a href="index.php?page=postAnnoncement" class="nav-link"
        >Publier une annonce</a
      >
    </div>
    <div class="nav-right">
      <a href="index.php?page=login" class="nav-link">Connexion</a>
      <a href="index.php?page=login" class="nav-link">Inscription</a>
    </div>
  </nav>
</header>
