body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 24px;
    color: white;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
}

.card {
    position: relative;
    padding: 20px;
    width: 200px;
    height: 120px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(#ff512f,
                #f09819);
    transform: perspective(1500px) rotateX(0deg);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: white;
}

.card:hover {
    transform: perspective(1500px) rotateX(15deg);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right,
                #ff512f,
                #f09819);
    .card-content {
        opacity: 0;
    }
}

.card-content {
    font-size: 20px;
    z-index: 10;
    text-decoration: none !important;
}

.card-image {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: top 0.5s ease-in-out;
}

.card:hover .card-image {
    top: 0;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .card {
        width: 170px;
        height: 80px;
    }

    .card-content {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .card {
        width: 110px;
        height: 60px;
    }

    .card-content {
        font-size: 9px;
    }

    h1 {
        font-size: 8px;
    }
}

a:hover {
    text-decoration: none;
}